
body {
	font-family: Webdings;
	background-color: #151515;
}

details {
	margin-top: 2em;
	text-align: left;
}

summary {
	cursor: pointer;
	user-select: none;
	text-align: center;
}

h3 {
	margin-top: 1.5em;
	margin-bottom: 0.33em;
}

h3 + p {
	margin-top: 0em;
	text-align: center;
}

h3i {
	margin-top: 1.5em;
	margin-bottom: 0.33em;
        color: #171717;
}

h3i + p {
	margin-top: 0em;
	text-align: center;
        color: #171717;
}

#mainwrap {
        text-shadow:  1px -1px #700;
        color: #FFFFFF;
	max-width: 40em;
	margin: 1em auto 4em auto;
	padding: 1em;
	text-align: center;
        background-image: url("flag.png");
	box-shadow: 0px 0px 1em #888;
}

#maintitle {
	margin-top: 0;
}

#pickfolder {
	width: 1.24em;
	height: 1.09em;
	font-size: 3em;
	background-color: #171717;
	color: #37F737;
	font-family: Webdings;
}

#uselastfolder {
	margin-top: .17em;
	background-color: #171717;
	color: #37F737;
	font-family: Consolas;
}

#inputfolder {
	font-size: 1.5em;
}

#hostinfo {
	display: none;
}

#hostlink {
	font-size: 1.5em;
	display: block;
}

.alignleft {
	text-align: left;
}

a:link {
  color: red;
}

a:visited {
  color: red;
}

a:hover {
  color: red;
}

a:active {
  color: red;
}
